.Play {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 300px;
  height: 20px;
  position: relative;
}

.xPlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, rgb(255,70,37) 50%, white 50%);
  border-radius: 0 0 8px 8px;
}

.oPlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, white 50%, rgb(44,135,255) 50%);
  border-radius: 0 0 8px 8px;
}

.scoreX, .scoreO {
  font-size: 20px;
  font-weight: bold;
}

.scoreX,.red{
  color: rgb(255,70,37);
}

.scoreO ,.blue{
  color: rgb(44,135,255);
}
.restartButt button{
  background-color: rgb(44,135,255);
  color: white;
  border-radius: 10px;
  width: 100px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #888;
  margin: 20px auto;
}
.restartButt button:hover{
  transform: scale(0.9);
}
.box{
  background-color: white;
  border: none;
  border-radius: 10%;
  box-shadow: 0 0 8px #888;
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  line-height: 5rem;
  margin: 0.5rem;
}
.box:hover{
  box-shadow: 0 0 15px #888;
}
.game{
  display: grid;
  grid-template-columns: repeat(3,6rem);
  place-items: center;
  justify-content: center;
}